<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2></h2>
    <br/>
    <p>A new candidate has submitted an application. <br /><br />
    	
    	<b>Application ID:</b> <%=@message["application_code"]%><br />
    	<b>First Name:</b> <%=@message["first_name"]%><br />
    	<b>Last Name:</b> <%=@message["last_name"]%><br />
    	<b>Email Address:</b> <%=@message["email"]%><br />
    </p>
    
    <p>Log In to the Admin page to manage this application at any time.    	
    </p>
  </body>
</html>