<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2></h2>
    <br/>
    <p><%= @message["first_name"] %> <%=@message["last_name"] %> thank you for your interest in B-Unique Barber Academy. 
    	Your application has been received. 
    	<p>Your <b>Application ID: <%=@message["application_code"]%></b><br />
    	Plese take note of your application ID because you will use it to check the status of your application.
    </p>	
    	To check the <b>status</b> of your application at any time go to <a href="http://bubba-online.com/application" title="B-Unique Application">bubba-online.com/application</a><br/>
    
    	
    </p>
  </body>
</html>