<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2></h2>
    
    <p>Your application is <%= @message["status"]%> due to the following reason:<br />
    	"<%= @message['reason']%> "
    </p>	
    <p>If you have any question please call the admissions office at 864-233-0056.
    	
    </p>
  </body>
</html>