<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2></h2>
    <br/>
    <p>Congratulations! We have completed the initial review of your application (<%= @message["appId"]%>) and it has been accepted. <br/>
    	Please call the admissions office at 864-233-0056 to complete the admission process. <br/>
    	We are looking forward to seeing you soon.
    	
    </p>
  </body>
</html>